<!-- Any Template driven form must use NgForm attributr directive. the corresponding model is automatically created by Angular -->

<!-- Reactive forms use Form group which is a collection of form elements . ngmodel is not used-->
<fieldset>
  <legend>Enter User Data</legend>
  <form [formGroup]="userForm" (ngSubmit)="adduser()">
    <label>First Name:</label
    ><input type="text" name="firstName" placeholder="Enter First Name" formControlName="firstName" /><br />
    <label>Last Name:</label
    ><input type="text" name="lastName" placeholder="Enter Last Name" formControlName="lastName" /><br />
    <label>Join Date:</label
    ><input type="date" name="joinDate" formControlName="joinDate" min="1997-01-01" max="2023-10-20" /><br />
    <label>Salary:</label
    ><input type="number" name="salary" formControlName="salary" /><br />
    <input type="submit" [disabled]="!userForm.valid" value="Add User" />
    <input type="reset" value="Reset">
    <input type="button" value="Update User" (click)="UpdateUser(userForm.value)">
    <input type="button" value="Get User" (click)="getUser(userForm.value)">
    <input type="button" value="Table"  (click)="hideshow()">
  </form>
  

  <div>
  <table [hidden]="!enable">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Join Date</th>
      <th>Salary</th>
      
    </tr>
    <tr *ngFor="let user of userList">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.joinDate }}</td>
      <td>{{ user.salary }}</td>
      <td><input type="button" value="Delete" (click)="deleteUser(user)"></td>
    </tr>
  </table>
</div>
<fieldset>
    <div>
    <table [hidden]="!enable1">
        <caption>User Found!</caption>
        <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Join Date</th><th>Salary</th></tr>
        <tr *ngFor="let user of getuserarray"><td>{{user.firstName}}</td><td>{{user.lastName}}</td><td>{{user.email}}</td><td>{{user.joinDate}}</td><td>{{user.salary}}</td></tr>
      </table>
    </div>
    </fieldset>
</fieldset>

<router-outlet></router-outlet>
